
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
      <ion-title size="large">UPDATE COST</ion-title>
    
  </ion-header>
  <ion-card>
    <ion-card-content>
      <p><ion-icon size="large" name="close-circle-outline" (click)="dismiss()"></ion-icon></p>
      <ion-item>
        <ion-textarea label="COST" placeholder="Type something here" [(ngModel)]="cost.category"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-select label="PRIORITY" placeholder="Pick priority" [(ngModel)]="cost.priority">
          <ion-select-option value="low">Low</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="high">High</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea label="AMOUNT" placeholder="Type something here" [(ngModel)]="cost.amount"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [(ngModel)]="cost.date"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-button size="big" expand="full" fill="clear" (click)="updateCost()">UPDATE COST</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>