

 ion-title {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
 }
 ion-button {
  color: rgb(0, 0, 0);
  
}

ion-fab-button {

  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color:white;
}


