
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
      <ion-title size="large">UPDATE INCOME</ion-title>
    
  </ion-header>
  <ion-card>
    <ion-card-content>
      <p><ion-icon size="large" name="close-circle-outline" (click)="dismiss()"></ion-icon></p>
      <ion-item>
        <ion-textarea label="INCOME" placeholder="Type something here" [(ngModel)]="income.category"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea label="AMOUNT" placeholder="Type something here" [(ngModel)]="income.amount"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [(ngModel)]="income.date"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-button size="big" expand="full" fill="clear" (click)="updateIncome()">UPDATE INCOME</ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
