
<ion-content [fullscreen]="true">
  <ion-img src="assets/images/header.svg"></ion-img>
  <ion-header collapse="condense">
    
   
    
      <div class="cards">
        <ion-card>
          <ion-card-header>
            <ion-card-title>COSTS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-fab vertical="bottom" horizontal="end">
              <ion-fab-button (click)="goToStartPage()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title>INCOMES</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-fab vertical="bottom" horizontal="end">
              <ion-fab-button (click)="goToStart2Page()">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ion-card-content>
        </ion-card>
      </div>
      
    
  </ion-header>
</ion-content>
