<ion-content>
 
  <div class="flex-center">

   <ion-card>
     <ion-card-header>
       <ion-card-title color="success ">MOJ NOVCANIK</ion-card-title>
       <ion-card-subtitle>Prijava</ion-card-subtitle>
     </ion-card-header>
   
     <ion-card-content>
       <ion-item>
         <ion-label position="floating">Email</ion-label>
         <ion-input type="email"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">Šifra</ion-label>
         <ion-input type="password"></ion-input>
       </ion-item>
       <ion-button color="success" size="full">PRIJAVI SE</ion-button>
       <ion-button color="success" size="full">REGISTRUJ SE</ion-button>
     </ion-card-content>
   </ion-card>

  </div>

  
  
</ion-content>
