<ion-content class="ion-padding">
  <ion-img src="assets/images/header.svg"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Log In</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="form">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Password</ion-label>
          <ion-input [(ngModel)]='password' placeholder="************" type="password"></ion-input>
        </ion-item>
        <ion-button size="full" (click)='login()' (click)="goToPickCollectionPage()" type="submit">LOG IN</ion-button>
        <div>
          <br>
          <h5>Nemate nalog? <ion-text (click)='signup()' class="link" >Registrujte se</ion-text></h5>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>