<ion-content>
<ion-img src="assets/images/header.svg"></ion-img>



   <ion-card>
     <ion-card-header>
       <ion-card-title >Log In</ion-card-title>
     </ion-card-header>
   
     <ion-card-content>
       <ion-item>
         <ion-label position="floating">Email</ion-label>
         <ion-input type="email"></ion-input>
       </ion-item>
       <ion-item>
         <ion-label position="floating">Password</ion-label>
         <ion-input type="password"></ion-input>
       </ion-item>
       <ion-button size="full">LOG IN</ion-button>
       <div>
        <br>
       <p>Nemate nalog? <a [routerLink]="['/register']">Registrujte se</a></p>
       </div>
     </ion-card-content>
   </ion-card>


  
  
</ion-content>
