<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Registracija</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Kontakt</ion-card-title>
    </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Ime</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Šifra</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Potvrdi šifru</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

       
      </ion-card-content>
    
  </ion-card>

  <ion-button size="full" color="light">Registruj se</ion-button>
</ion-content>
